@page "/AnimalPagec"

@using STGeneticsPage.DBModel;
@using STGeneticsPage.Data;
@inject CRUDAnimals AccessAnimals

<PageTitle>Animal Page</PageTitle>

<EditForm Model="@animal">
    <div>
        <label for="AnimalName">Name</label>
        <InputText id="AnimalName" @bind-Value="animal.Name"></InputText>
    </div>
    <div>
        <label for="AnimalBreed">Breed</label>
        <InputText id="AnimalBreed" @bind-Value="animal.Breed"></InputText>
    </div>
    <div>
        <label for="AnimalBirth">Day of Birth</label>
        <InputDate id="AnimalBirth" @bind-Value="animal.DateOfBirth"></InputDate>
    </div>
    <div>
        <label for="AnimalSex">Sex</label>
        <InputText id="AnimalSex" @bind-Value="animal.Sex"></InputText>
    </div>
    <div>
        <label for="AnimalPrice">Price</label>
        <InputNumber id="AnimalPrice" @bind-Value="animal.Price"></InputNumber>
    </div>
    <div>
        <label for="AnimalStatus">Status</label>
        <InputText id="AnimalStatus" @bind-Value="animal.Status"></InputText>
    </div>
    <section>
        <button>Filter</button>
        <button @onclick="OnSave">Save</button>
    </section>

</EditForm>

@code {
    private Animals animal = new Animals();

    protected async Task OnSave() => await AccessAnimals.SaveAnimal(animal);
}