@page "/AnimalPage"
@using STGeneticsPage.DBModel;
@using STGeneticsPage.Data;
@inject CRUDAnimals AccessAnimals

<PageTitle>Animal Page</PageTitle>
<h1>Hola</h1>
<EditForm Model="@animal">
    <div>
        <label for="AnimalName">Name</label>
        <input type="text" id="AnimalName" @bind="animal.Name" required></input>
    </div>
    <div>
        <label for="AnimalBreed">Breed</label>
        <input type="text" id="AnimalBreed" @bind="animal.Breed" required></input>
    </div>
    <div>
        <label for="AnimalBirth">Day of Birth</label>
        <input type="date" id="AnimalBirth" @bind="animal.DateOfBirth" min="2009-1-1" required></input>
    </div>
    <div>
        <label for="AnimalSex">Sex</label>
        <input type="" id="AnimalSex" @bind="animal.Sex" required></input>
    </div>
    <div>
        <label for="AnimalPrice">Price</label>
        <input type="number" id="AnimalPrice" @bind="animal.Price" required></input>
    </div>
    <div>
        <label for="AnimalStatus">Status</label>
        <input type="text" list="Status" id="AnimalStatus" @bind="animal.Status" required>
        <datalist id="Status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </datalist>
        </input>
    </div>
    <section>
        <button>Filter</button>
        <button @onclick="OnSave">Save</button>
    </section>

</EditForm>

@code {
    private Animals animal = new Animals();

    protected async Task OnSave() => await AccessAnimals.SaveAnimal(animal);
}
